@import "../../../styles//variables.scss";
.maincontainer {
  margin: 3% 200px;

  @media screen and (max-width: 900px) {
    margin: 3% auto;
  }
  .section {
    text-align: center;
    margin-bottom: 4px;
  }
  .container {
    padding: 12px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 8px;

    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
    }
  }
  img {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
  }
  .col1 {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .col2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .col1,
  .col2,
  .container {
    @media screen and (max-width: 900px) {
      justify-content: center;
    }
  }

  .select_marker {
    text-align: center;
    margin-bottom: 4px;
    background-color: $color-grey-ligtest;
    color: $color-grey-light;
    border-radius: 10px;
    padding: 24px;
    box-shadow: none;
    width: 60%;

    @media screen and (max-width: 900px) {
      width: 60%;
    }
  }
  .card {
    text-align: center;
    margin-bottom: 4px;
    background-color: $color-grey-ligtest;
    color: $color-grey-light;
    border-radius: 10px;
    padding: 24px;
    box-shadow: none;
    width: 60%;
  }
  h1 {
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    color: $color-light-green;
    font-weight: 700;
    padding: 10px;
  }

  .description {
    font-size: small;
    margin-top: 0px;
  }
}
h1 {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  color: $color-light-green;
  font-weight: 700;
  padding: 10px;
}
p {
  padding: 8px;
}
