@import "../../../styles/variables.scss";
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3%;
  .section {
    text-align: center;
    width: 90%;

    h1 {
      margin: 0;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 1.5rem;
      line-height: 1.334;
      letter-spacing: 0em;
      color: $color-light-green;
      font-weight: 700;
    }

    p {
      padding: 10px 0px;
      margin: 0;
      color: $color-grey-light;
    }
  }
}
