$color-grey-black: rgb(16, 18, 17);
$color-grey-light: rgb(153, 153, 167);
$color-grey-dark: #1c1a1a;
$color-grey-ligtest: rgb(31, 31, 31);
$color-green: rgb(26, 81, 59);
$color-white: white;
$color-light-green: rgb(175, 228, 208);
$color-blue: #4096ff;
$color-red: red;
